h1{
  margin: 10px 0;
  font-family: 'Sacramento', cursive;
  font-size: 500%;
  margin-top: 20px;
  color: #11999E;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
hr{
  border-style: none;
  border-top-style:  dotted;
  width: 5%;
  border-width: 5px;
  border-color: grey;
  margin-top: 50px;
  margin-bottom: 8px;
}
p{
  font-weight: normal;
}
.intro{
  width: 30%;
  margin: auto;
  line-height: 2;
}
.top-container{
  background-color:  #E4F9F5;
  width: 100%;
  padding-top: 150px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 40px;
}
.bottom-cloud{
  position: absolute;
  left:  250px;
  bottom: 300px;
}
.mount{
  width: 598px;
  height: 357px;
}
.a{
  margin: 50px;
width: 80px;
}
.b{
  color: grey;
  padding: 7px;
}
.c{
  color: grey;
  padding: 8px;
}
.s{
  width: 50%;
  margin: 0 auto 0 auto;
}
.code{
  width: 80px;
margin: 50px;
}
.web{
  width: 80px;
margin: 50px;
}
.contact-me{
  background-color:  #E4F9F5;
}
.l{
  width: 50px;
    margin: 10px 10px 5px 5px;
    margin-right: 40px;
}
.i{
  width: 50px;
  margin: 10px 5px 5px 5px;
  margin-right: 40px;
}
.p{
  width: 50px;
  margin: 10 5 10 5;
  margin-bottom: 10px;
}
  .btn {
    background: #1b79b8;
    background-image: -webkit-linear-gradient(top, #1b79b8, #549cc9);
    background-image: -moz-linear-gradient(top, #1b79b8, #549cc9);
    background-image: -ms-linear-gradient(top, #1b79b8, #549cc9);
    background-image: -o-linear-gradient(top, #1b79b8, #549cc9);
    background-image: linear-gradient(to bottom, #1b79b8, #549cc9);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #2aaede;
    background-image: -webkit-linear-gradient(top, #2aaede, #76b3c9);
    background-image: -moz-linear-gradient(top, #2aaede, #76b3c9);
    background-image: -ms-linear-gradient(top, #2aaede, #76b3c9);
    background-image: -o-linear-gradient(top, #2aaede, #76b3c9);
    background-image: linear-gradient(to bottom, #2aaede, #76b3c9);
    text-decoration: none;
  }
.footer-link{
  padding: 10px;
  color: seagreen;
}
.footer-link:hover{
  color: #66BFBF;
}
.right{
  padding-bottom: 20px;
  color: grey;
}
/*
.chill{
  width: 25%;
text-align: right;
float: right;
margin-left: 20px;
}
.middle-container{
  background-color: seagreen;
  height :200px;
  width: 200px;
  display: inline-block;
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
}
.bottom-container{
  background-color: orange;
  height :200px;
  width: 200px;
  display: inline-block;
  position: absolute;
}
*/
